@charset "utf-8";
/* CSS Document */

header {
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	background-color: #C5979D;
	color: #000000;
}

footer {
	text-align: center;
	background-color: #2B193D;
	color: #FFFFFF;
}

h1 {
	text-align: center;
	background-color: #4B8F8C;
	color: #FFFFFF;
}

h2 {
	text-align: center;
	background-color: #2C365E;
	color: #FFFFFF;
}

h3 {
	text-align: center;
	background-color: #484D6D;
	color: #FFFFFF;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #000000;
}

a:active {
	text-decoration: none;
	color: #000000;
}